<h4>Post details:</h4>
<p>
	<%= @row['content'] %>
		<br />
		<span style="font-size: 75%; color: #999">added at <%= @row['created_date'] %></span>
		<br/>
		
</p>
<br/>
<h4>Comments:</h4>

<% @comments.each do |comment| %>
	<p>
		<%= comment['content']%>
		<br/>
		
	</p>

	<hr/>
<% end %>

<p>
	<form action="/details/<%= @row['id'] %>" method="post" role="form">
		<textarea name="content"class="form-control" rows="6" placeholder="type comment text here"></textarea>
		<br/>
		<button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>